/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text');



/* You can override the default Infima variables here. */
:root {

  --ifm-font-family-base: 'Red Hat Text';

  --ifm-color-primary-darkest: #ff43b6;
  --ifm-color-primary-darker: #ff63c2;
  --ifm-color-primary-dark: #ff77ca;
  --ifm-color-primary: #ff93d5;
  --ifm-color-primary-light: #ffafe0;
  --ifm-color-primary-lighter: #ffc3e8;
  --ifm-color-primary-lightest: #ffe3f4;
  --ifm-background-color: #282828;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /*.footer--dark {
    --ifm-footer-background-color: #3f3f3f;
  }*/


}

.footer {
  background-color: #3f3f3f;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-font-family-base: 'Red Hat Text';
  --ifm-background-color: #282828;

  --ifm-color-primary-darkest: #ff43b6;
  --ifm-color-primary-darker: #ff63c2;
  --ifm-color-primary-dark: #ff77ca;
  --ifm-color-primary: #ff93d5;
  --ifm-color-primary-light: #ffafe0;
  --ifm-color-primary-lighter: #ffc3e8;
  --ifm-color-primary-lightest: #ffe3f4;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /*.footer--dark {
    --ifm-footer-background-color: #3f3f3f;
  }*/


}

/*
These change every html footer, don't use these
html[data-theme='light'] footer {
  background-color: #333333;
}
html[data-theme='dark'] footer {
  background-color: #3f3f3f;
}*/